@media all and (min-width:1px) and (max-width:1025px){
    .liquid-holder{
        width: 100%;
    }

}
@media all and (min-width:760px) and (max-width:1023px){

    .contact-info ul li {
        font-size: 13px;
            line-height: 21px;
    margin-top: 0;
    }

.avatar img, .avatar {
    height: 160px;
    width: 160px;
}
.recent-works .horizontal-scroll .shadow{
    bottom:3px;
}
.recent-works .horizontal-scroll{
    width: 270px;
}
.profile-general-info .short-desc {
    font-size: 13px;
   
    padding: 2px 6px 3px;
  
    top: 40px;
}
.excerpt, .excerpt p {
    font-size: 13px;
    line-height: 20px;
}
.profile-general-info .title {
    font-size: 22px;
  
    padding: 3px 6px 6px 7px;
}
.ribboned-social{
    top: 80px;
}
.ribboned-social .social-icons a{
    font-size: 17px;
}
    .section-title {
        font-size: 22px;
    }
    .avatar .glow{
        display: none;
    }
    .info-item {
        font-size: 17px;
    }
}

@media all and (min-width:1px) and (max-width:759px){
    .menu-holder li {
        width: 22%;
    }


    .section-title{
        font-size: 24px;
    }

    .info-item {
        font-size: 17px;

    }

    .menu-holder{
        border-top: 1px solid #000000;
    }

}
@media all and (min-width:300px) and (max-width:759px){
.recent-works .horizontal-scroll{
    width: 292px;
}
.profile-general-info .simple-sep{
    display: none;
}
    .info-item:first-child {
        margin-left: 0;
    }
    .top-menu-holder .social-holder{
        text-align: center;
    }
    .brand-holder{
        text-align: center;
    }
    .contact-form-holder .ribbon{
        width: 50%;
    }
    .portfolio .portfolio-item{
       margin-left: 80px;
    }
    .profile-general-info .title{
        width: 97%;
    }
  .profile-general-info .excerpt {
    margin-top: 110px;
}
 
    .profile-general-info .short-desc{
        width: 99%;
    }
    .info-holder {

        display: none;
    }
    .top-menu-holder .social-holder{
        display: none;
        height: 0;
    }

    .top-menu-holder .liquid-holder {
        width: 100%;
    }
    .brand-holder{
        margin-bottom: 10px;
    }

    .menu-holder li {
        width: 22.9%;
    }
    .avatar {
        margin: 0 auto;
        margin-top: 20px;
        width: 200px;
    }

    .liquid-holder{
        width: 95%;
    }
    .filter-options li{
        line-height: 33px;
    }
}

@media all and (min-width:400px) and (max-width:549px){
.recent-works .horizontal-scroll {
    width: 220px;
}
.recent-works .horizontal-scroll .shadow,.recent-works .horizontal-scroll .glow{
    display: none;
}
.recent-works .horizontal-scroll .portfolio-item .ribbon{
    width: 198px;
}
.recent-works .horizontal-scroll .portfolio-item{
    width: 180px;
    left: 9px;
}
.portfolio .portfolio-item {
    margin-left: 27px;
}
    .menu-holder li {
        width: 22.3%;
    }
}

@media all and (min-width:300px) and (max-width:399px){


.recent-works .horizontal-scroll {
    width: 138px;
}
.recent-works .shadow,.recent-works .horizontal-scroll .glow{
    display: none;
}
.recent-works .horizontal-scroll .portfolio-item .ribbon .arrow-right{
    display: none;
}
.recent-works .horizontal-scroll .portfolio-item .ribbon{
     width: 100px;
      font-size: 12px;
}
.recent-works .horizontal-scroll .hover i{
    display: none;
}
.recent-works .horizontal-scroll {
    height: 138px;
    width: 138px;
}
.recent-works .horizontal-scroll .portfolio-item,.recent-works .horizontal-scroll .portfolio-item img {
    width:120px;
    height: 120px;
}
.recent-works .horizontal-scroll .portfolio-item{
    left: 4px;
}
    .profile-general-info .title {
        width: 94%;
    }
    .profile-general-info .short-desc {
        width: 97%;
    }
    .portfolio-page .portfolio-item{
        margin-left: 60px;
    }
    .menu-holder li a {
        font-size: 11px;
    }
    .top-menu-holder .social-icons{
        display: none;
    }
    .skill-bar{
        width: 100%;
    }
.menu-holder li {
    width: 20.85%;
}
    .skill .shadow {
        left: -22px;
    }


    .shadow.big {
        background-image: url("../images/shadow-small.png");

    }
}